[Desktop Entry]
Version=1.0
Name=Attract-Mode
Comment=Emulator Frontend
Exec=/usr/games/attract
Terminal=false
Type=Application
Categories=Game
Icon=attract-mode
