Source: attract
Section: games
Priority: optional
Maintainer: Andrew Mickelson <andrew@attractmode.org>
Build-Depends: debhelper (>= 9), pkgconf, git,
 libarchive-dev, libavcodec-dev, libavformat-dev, libavresample-dev,
 libavutil-dev, libfontconfig-dev, libfreetype6-dev, libglu-dev,
 libjpeg62-turbo-dev | libjpeg-turbo8-dev,
 libopenal-dev, libsfml-dev, libswscale-dev, libxinerama-dev
Standards-Version: 3.9.5
Homepage: http://attractmode.org

Package: attract
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Attract-Mode emulator frontend
 Attract-Mode is a graphical frontend for command line emulators such as MAME,
 MESS and Nestopia. It hides the underlying operating system and is intended
 to be controlled with a joystick, gamepad or spin dial, making it ideal for
 use in arcade cabinets. Attract-Mode is open source and runs on Linux, OS X
 and Windows. 
