#define RT_MANIFEST 24
#define APP_MANIFEST 1
APP_MANIFEST RT_MANIFEST attract.exe.manifest

#include "config.h"

#define STRINGIZE_HELPER(...) #__VA_ARGS__
#define STRINGIZE(x) STRINGIZE_HELPER(x)

#ifndef APP_ICON
  #define APP_ICON "attract.ico"
#endif

#ifdef FE_DEBUG
  #define FLAGS 0x1L
#else
  #define FLAGS 0x0L
#endif

#define LANG 0x409
// TODO: UTFize attract
//#ifdef _UNICODE
#define CHARSET 1200
#define LANG_WITH_CHARSET "040904B0"
//#else
//#define CHARSET 1252
//#define LANG_WITH_CHARSET "040904E4"
//#endif

#define RC_VERSION_BUILD FE_VERSION_MAJOR.FE_VERSION_MINOR.FE_VERSION_POINT
#define RC_VERSION_FILE FE_VERSION_MAJOR,FE_VERSION_MINOR,FE_VERSION_POINT

1 VERSIONINFO
	FILEVERSION RC_VERSION_FILE
	PRODUCTVERSION RC_VERSION_FILE
#ifdef FE_DEBUG
	FILEFLAGS 0x9L
#else
	FILEFLAGS 0x8L
#endif
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK LANG_WITH_CHARSET
			BEGIN
				VALUE "Author", "Andrew Mickelson\0"
				VALUE "Comments", "\0"
				VALUE "CompanyName", "attractmode.org\0"
				VALUE "FileDescription", "Attract-Mode Frontend\0"
				VALUE "FileVersion", STRINGIZE(RC_VERSION_FILE) "\0"
				VALUE "InternalName", "attract\0"
				VALUE "LegalCopyright", "Copyright (c) 2013-2018 Andrew Mickelson\0"
				VALUE "OriginalFilename", "ATTRACT.EXE\0"
				VALUE "ProductName", "Attract-Mode\0"
				VALUE "ProductVersion", STRINGIZE(RC_VERSION_BUILD) "\0"
			END
		END

		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", LANG, CHARSET
		END
	END
103 ICON APP_ICON "\0"
